<h1>My tasks</h1>
<ul> 
  <% @tasks.each do |task|%>
  <li><i class="far fa-check-square"></i> <%= link_to task.title, task_path(task) %> .<%= link_to raw('<i class="far fa-trash-alt"></i>'), 
  task_path(task),
  method: :delete,
  data: { confirm: "Delete #{task.title}?" } %></li>
  <% end %>
</ul>

<%= link_to "Add new task", new_task_path %>


